section{
    margin: 0;
    padding: 30px 150px ;
}
.btn{
    border: 1px solid black;
}
.btn:hover{
    animation: splitright 1s in;
    color: white;
    background-color: black;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

.navbb{
    background-color: aqua;
}
.navv{
    padding: 0;
    
}

/* config section home */
#home{
    /* display: flex; */
    /* justify-content: space-; */
    margin-bottom: 50px;
    background-color: bisque;
    height: 610px;
}
.hometext{
    margin-top: 200px;
    /* align-items:center; */
    /* justify-content: center; */
    
}
.hometext h1{
    width: 500px;
    margin-bottom: 20px;
}
.hometext h6{
    font-weight: normal;
    border: 1px solid black;
    width: 140px;
    text-align: center;
    border-radius: 25px;
    padding: 10px;
    color: black;
    background-color: aqua;
}

/* configurate about */
#myinfo{
    column-gap: 16px;
}
.about{
    width: 700px;
    /* border: 1px solid black; */
    text-align: justify;
}
.contact{
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    width: 300px;
    
}
.contact ul{
    display: flex;
    flex-direction: column;
    padding: 0;
}
.contact a{
    margin-top: 15px;
}

.job-item-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.job-item-detail{
    display: none;
}

/* configurate skill */
.skill-info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 26px;
    
}
.card{
    padding: 10px;
}
/* configurate work */
.work-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "pict1 pict2" "pict3 pict3";
    border: 1px solid black;
}
.work-img::before{
    z-index: -1px;
    content: '';
    background-color: rgba(0, 0, 0, 0.5);
}
.work-img img{
    width: 200px;
    height: 200px;
}


#pict1{
    grid-area: pict1;
}
#pict2{
    grid-area: pict2;
}
#pict3{
    grid-area: pict3;
}

@media only screen and (max-width: 768px){
 
}
@keyframes splitright {
    0% {
        transform: rotate3d(0);
    }
    25%{
        transform: rotate3d(25deg);
    }
    50%{
        transform:rotate3d(50deg);
    }
    75%{
        transform: rotate3d(75deg);
    }
    100%{
        transform: rotate3d(100deg);
    }
}