section{
    margin-top: 128px;
    position: relative;
}

section::before{
    z-index: -1;
    content: '';
    position: absolute;
    font-size: 72px;
    font-weight: 600;
    opacity: 0.25;
    left: -70px;
    top: -110px;
}
a{
    text-decoration: none;
    color: black;
}

.btn{
    border: 2px solid black;
    border-radius: 20px;
}
.btn:hover{
    color: white;
    background-color: black;
}

.col-8{
    margin-top: 128px;
}

.home h4{
 font-size: 42px;
}
.home h1{
    font-size: 72px;
}
.home img{
    width: 100%;
}
.home .arrow{
    display: flex;
    width: 50px;
    margin: auto;
    animation: slide 2s infinite;
}

#about::before{
    content: 'About';
}
.text{
    margin-bottom: 30px;
}
.exp-detail{
    margin-top: 15px;
}
.exp-detail-item{
    display: none;
}
#Work::before{
    content: 'Contact';
}
.work .col-12 img{
    width: 50px;
}
.work form{
    /* width: 420px; */
    border: 1px solid black;
    padding: 15px 25px;
}


@media only screen and (max-width: 991px){
    .work .col-12 img{
        width: 25px;
}
.work form{
    margin-top: 20px;
}
}
@media only screen and (max-width: 767px){
    .home img{
        width: 60%;
        left: 100;
        
    }
    .home .col-md-4{
        position: relative;
        left: 23%;
    }
}

@keyframes slide{
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(7px);
    }
    100% {
        transform: translateY(0);
    }
}